.powmenu {
    background-color: $bg;
}

.lock {
    background-color: transparent;
    .lock-icon{
        font-size: 5em;
        font-family: "Maple Mono NF";
        padding: 7px;
        color: $pink;
    }
}


.logout {
    .logout-icon{
        font-size: 5em;
        font-family: "Maple Mono NF";
        color: $teal;
    }
}

.reboot {
    .reboot-icon{
        font-size: 5em;
        font-family: "Maple Mono NF";
        color: $lemon;
    }
}

.shutdown {
    .shutdown-icon {
        font-size: 5em;
        font-family: "Maple Mono NF";
        color: $mauve;
    }
}
