.sysmenu-handler{
    background-color: $bg;
}

.battery {
    padding: 0px 7px;
    margin: 7px 7px 0px 7px;
    .battery-label {
        font-family: "Monaspace Radon";
        font-size: 20px;
        font-weight: 700;
        color: $fawn;
    }
}

.close {
    padding: 10px 7px 0px 7px;
    margin: 10px 7px 0px 7px;
    .close-icon {
        padding: 3px 7px 0px 7px;
        margin: 3px 7px 0px 7px;
        font-family: "Maple Mono NF";
        font-size: 2rem;
        color: $mauve;
    }
}

.username {
    font-family: "Monaspace Radon";
    font-size: 20px;
    font-weight: 700;
    padding: 3px 7px 0px 7px;
    margin: 3px 7px 0px 7px;
    color: $mint;
}


.network {
    .network-icon{
        font-size: 2em;
        font-family: "Monspace Argon";
        color: $mauve;
    }
    .network-label{
        font-family: "Monospace Neon";
        font-size: 20px;
        font-weight: 700;
        color: $lemon;
    }
}
