// Foreground
$fg: #ffffff;

// Background
$bg: #00000c;

// Alternate Background
$alt-bg: #30365f;

// Colors

// Cream
$cream: #f7d9aa;

// Pink
$pink: #f8bbd0;

// Lavender
$lavender: #d4b5f9;

// Sky Blue
$sky-blue: #d4ebf2;

// Teal
$teal: #64ffda;

// Mint Green
$mint: #a7e9af;

// Sunflower
$sunflower: #fde68a;

// Dusty Pink
$dusty-pink: #faaca8;

// Periwinkle
$periwinkle: #bfdadc;

// Lemon
$lemon: #f4e285;

// Mauve
$mauve: #ea97d3;

// Seafoam
$seafoam: #c2e7da;

// Peach
$peach: #ffb7b2;

// Lilac
$lilac: #d7aefb;

// Blush
$blush: #fdcfe8;

// Ice Blue
$ice-blue: #cbf0f8;

