@import 'colors';

* {
   all: unset;
}

.bar {
    background-color: $bg;
}

.layouts {
  font-size: 28px;
  font-family: "Cascursive";
  color: $sunflower;
}

.logo {
  margin: 7px 0 7px 7px;
  font-size: 23px;
  font-family: "Cascursive";
  .dispatcher {
    color: $mint;
    border-radius: 7px;
    font-size: inherit;
    padding: 0 14px 0 10px;
  }
}

.workspace {
  font-size: 23px;
  font-family: "Cascursive";
  padding: 0px 7px 0px 7px;
}

.workspace-focused {
  font-size: 25px;
  font-family: "Cascursive";
  padding: 0px 4px;
  color: $sky-blue;
}

.workspace-occupied {
  font-family: "Cascursive";
  font-size: 25px;
  padding: 0px 4px;
  color: $mint;

  &:hover {
    color: #5eff67;
    transition: color 0.3s ease-in-out;
  }
}

.workspace-empty {
  font-size: 25px;
  font-family: "Cascursive";
  padding: 0px 4px;
  color: $pink;

  &:hover {
    color: #AA5AAB;
    transition: color 0.3s ease-in-out;
  }
}

.clock {
  font-family: "Cascursive";
  font-size: 20px;
  padding: 0px 7px 0px 7px;

  .time {
    color: $blush;
    padding: 0px 7px 0px 7px;
  }

  .timebox {
    color: $mint;
    padding: 0px 7px 0px 7px;

    .timesep_icon {
        font-family: "JetBrains Mono Nerd Font";
        font-size: 18px;
        color: $cream;
    }
  }
}
